

.user-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.mat-table {
  max-height:100%;
  margin-right: 10px;
  margin-left: 10px;
}

mat-paginator {
  margin-right: 10px;
  margin-left: 10px;
}