<div *ngIf=" currentURL && currentURL.indexOf('login') === -1">
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="over" [(opened)]="open" class="sideNavBackground ">

      <mat-toolbar-row (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </mat-toolbar-row>
      <mat-toolbar>
        <mat-toolbar-row (click)="goToUrl('users');toggleMenu()" [class.activeBar]="currentURL.includes('users')">
          User lists
        </mat-toolbar-row>

        <mat-toolbar-row (click)="goToUrl('createUsers');toggleMenu()" [class.activeBar]="currentURL.includes('id')">
          Create User
        </mat-toolbar-row>

        <mat-toolbar-row (click)="logOut();toggleMenu()">
          logout
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="matToolbarHeader">
        <mat-icon (click)="toggleMenu()" class="pointer">menu</mat-icon>
        <app-header [title]="title">
        </app-header>

      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<div *ngIf="currentURL && currentURL.indexOf('login') !== -1">
  <router-outlet></router-outlet>
</div>
