html,
body {
  font-family: 'open sans', helvetica, arial, sans;
  overflow: hidden !important;
  background: #FFFAFA;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
  cursor: pointer;
}
.progress-spinner {
  min-height: 30px;
  min-width: 30px;
}
.spinner-container {
  height: 100%;
  position: absolute;
    top: 50%;
    left: 50%;
}