html,
body {
  font-family: 'open sans', helvetica, arial, sans;
  overflow: hidden !important;
  background: #FFFAFA;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn {
  display: inline-block;
  background: #4169E1;
  border: 1px solid darken(#4169E1, 5%);
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
  &:hover {
    background: lighten(#4169E1, 5%);
  }
  &:active {
    background: #4169E1; 
    box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
  }
  &:focus {
    outline: none;
  }
}
.pointer{
  cursor: pointer;
}
.progress-spinner {
  min-height: 30px;
  min-width: 30px;
}